.Center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hundo{
  min-width: 100%;
}
.form{
  background-color: #b3ff00;
  flex-grow: 1;
}
.input, .input2, .input3{
  padding: 12px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-radius: 5px;
}
.input{
  width: 50%;
}
.input2{
  width: 25%;
}
.input3{
  width: 12.5%;
}
.input:focus, .input2:focus, .input3:focus{
  background-color: aqua;
}
input[type=submit]{
  width: 25%;
  padding: 12px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: #eeff00;
  border-style: outset;
  border-radius: 5px;
  color: #0055ff;
  background-color: #eeff00;
} 
html {
  background-color: #dae3f5;
  color: black;
}
Link{
  text-decoration: none;
}
#nav {
  padding: 10px;
  padding-right: 40px;
  top: 0px;
  position: sticky;
  background-color: bisque;
}
#nav ul {
  padding: auto;
}
#nav ul li{
  font-size: 27px;
  list-style-type: none;
  display: inline;
  margin: 2px;
  padding: 5px;
  border: 1px solid #751313;
  /* border-style: outset; */
  /* background-color: aquamarine; */
  border-radius: 5px;
  text-decoration: none;
}
#nav ul li:last-child {
  float: right;
  margin-bottom: 15px;
}
#home {
  display: flex;
  flex-direction: column;
  background-color: #751313;
}
.home {
  border: 1px solid #751313;
  background-color: aquamarine;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  flex-grow: 1;
}
.h3 {
  text-decoration-line: underline;
  text-decoration-color: purple;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
}
#browse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #751313;
}
#cHobby{
  background-color: aquamarine;
  border: aquamarine 5px solid;
  /* max-width: 113px; */
}
#bHobby{
  background-color: #0055ff;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 15px;
  /* max-width: 200px; */
}
#cHobbyImage{
  height: 100px;
  width: 100px;
  border: solid 2px #282c34;
  /* margin-right: 15px; */
}
#cHobbyInfo{
  display: flex;
  flex-direction: row;
  background-color: bisque;
}
.cHInfo{
  text-decoration: none;
  flex-grow: 1;
  background-color: #eeff00;
  justify-content: space-between;
}
#membership{
  display: flex;
}

#sHobby{
  background-color: #751313;
  max-width: 110px;
  min-width: 110px;
  min-height: 100px;
  max-height: 150px;
}
#sHobbyImage{
  margin-top: 5px;
  width: 100px;
  height: 100px;
  border: #0055ff 1px solid;
}
#sHobbyInfo{
  display: flex;
  align-items: center;
  align-content: space-around;
}
.sHInfo{
  margin: 5px;
}
#sell{
  display: flex;
  flex-direction: row;
}
#editHobby{
  border: #1eff00 3px solid;
}
#editHobbyLink{
  max-width: 110px;
  min-width: 110px;
  min-height: 100px;
  max-height: 150px;
  background-color: #ff0000;
  display: flex;
  flex-direction: column-reverse;
}
#items{
  display: flex;
  flex-direction: column;
}
#newItem, #lessItem{
  width: 5%;
  padding: 6px 5px;
  font-size: 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-radius: 5px;
}
#editItem{
  /* width: 75%; */
  border: #282c34 3px solid;
  margin: 5px;
}
#pHobby{
  background-color: #1eff00;
  display: flex;
  justify-content: space-evenly;
}
#pHobbyI{
  border: #282c34 2px solid;
  width: 400px;
  height: 400px;
}
#sellerName{
  margin-top: 0px;
}
#nHobby{
  margin-bottom: 0px;
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}